---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Slogan from "../components/Slogan.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <AboutMe />
    <Slogan />
  </main>
</Layout>

<style></style>
