<section>
  <img
    src="https://images.pexels.com/photos/18565035/pexels-photo-18565035/free-photo-of-a-woman-sitting-on-a-stool-in-a-black-and-white-photo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
    alt=""
  />
  <div>
    <h2>Lead me</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta neque amet
      pariatur. Nulla, nam iste! Officia aliquam eius provident alias. Repellat
      dolorum, fugit natus dolores consequuntur explicabo voluptatibus mollitia
      ipsam!
    </p>
  </div>
</section>
<!-----
hfghgjutygkuuiyiuhj
--- -->
<style>
  img {
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  div {
    background-color: red;
    margin: 2rem;
    text-align: center;
  }
</style>
