<section>
  <h2>Clearly communicate your career goals</h2>
</section>

<style>
  section {
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: black;
  }
  h2 {
    color: red;
    margin: 0;
    font-size: 7rem;
    text-align: center;
    font-family: "Permanent Marker", cursive;
  }
</style>
